body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 40%;
}

h2 {
  text-align: center;
  font-family: cubano, sans-serif;
  font-weight: 400;
  color: white;
  font-size: 10vw;
	text-shadow: -0.04em 0.04em 0 #000,
				  0.04em 0.04em 0 #000,
				 0.04em -0.04em 0 #000,
				-0.04em -0.04em 0 #000;
}
  